.container-title {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 -15px 0 -15px;
}

.app-title {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.container-button {
  margin-top: 20px;
}

.add-task-button {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 15px;
  background-color: black;
  border: 2px solid black;
  display: block;
  margin: 20px auto;
}

.to-do-list {
  border: 2px solid black;
}

.complete-container {
  margin-top: 20px;
  background-color: white;
}

.label-text {
  font-size: 20px;
  font-weigth: 500;
  color: black;
}

.desc-container {
  margin-top: 5px;
  border-bottom: 2px solid black;
}

.desc-label {
  font-size: 20px;
  font-weigth: 500;
  color: black;
}

.desc-input {
  width: 80%;
}
